@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: #fafafa;
}

.table_container {
  height: 100%;
  overflow: auto;
  padding: "10px 0px";
}